:root{

--bg:#111111;
--surface:#171717;
--border:#262626;

--text:#F5F5F5;
--text-secondary:#A3A3A3;

--accent:#D4B26A;

--container:1280px;

--space-1:8px;
--space-2:16px;
--space-3:24px;
--space-4:40px;
--space-5:64px;
--space-6:96px;

--radius:12px;

}