@import "../styles/index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--text-primary);

  font-family: var(--font-system);

  min-height: 100vh;

  text-rendering: optimizeLegibility;

  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font: inherit;
}